@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root {
  --primary: #367ee9;
  --secondary: #a0aec0;
  --accent: #718096;
  --background: #fff;
  --secondary-background: #f7fafc;
  --main: #0d0106;
  --header: #2d3748;
}

.active::after {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.theme-light {
  --background: #fff;
  --secondary-background: #f7fafc;
  --main: #0d0106;
  --header: #2d3748;
}

.theme-dark {
  --background: #0e141b;
  --secondary-background: #1b2128;
  --main: #ffffff;
  --header: #eaeaea;
}
